<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="../../public/images/logo-colorful.svg" alt="Logo da LyholeCap"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/assets/reset.css">
  <link rel="stylesheet" href="../../public/assets/index.css">
  <link rel="stylesheet" href="../../public/assets/table.css">
  <link rel="stylesheet" href="../../public/assets/animation.css">
  <link rel="stylesheet" href="../../public/assets/loading.css">
  <title>LyholeCap</title>
</head>
<body>

  <header>
    <img class="animate-rigth" src="../../public/images/logo.svg" alt="Logo da LyholeCap">
    <h1 class="animate-up">Lyhole<strong>Cap</strong></h1>
  </header>

  <main>

    <div class="application-details">
      <h2 class="animate-rigth">Desenvolvido por aquele que gosta de criptomoedas o tanto quanto você.</h2>
      <div class="banner">
        <p class="animate-rigth">Aqui você irá acomapanhar as principais informações a respeito dos criptoativos mais relevantes ao mercado.</p>
        <img class="animate-up" src="../../public/images/banner.svg" alt="Banner de criptomoedas">
      </div>
    </div>

    <div class="list-cryptocurrencies animate-appear">
      <p>Clique no botão abaixo para visualizar as principais criptomoedas do mercado</p>
      <button id="list-cryptocurrencies-button" type="button">Listar moedas</button>
    </div>

    <div class="content">

    </div>

  </main>
  <script src="../../public/js/loading.js"></script>
  <script src="../../public/js/index.js"></script>
</body>
</html>